@import "../../../variables.scss";

.card {
  border-radius: 8px;
  box-shadow: 2px 2px 8px $shadow;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 275px;

  .card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1rem;

    .card-title {
      margin-bottom: 1rem;
    }
  }

  .img-container {
    height: 150px;

    .card-img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
